@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Inter:wght@300;400;500;600&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    background-color: #232323;
    color: white;
}
p
{
    font-size: 18px;
    line-height: 35px;
    font-family: 'Inter', sans-serif;
}